@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: oklch(0.9807 0.0078 139.4419);
  --foreground: oklch(0.3396 0.0400 139.4450);
  --card: oklch(0.9807 0.0078 139.4419);
  --card-foreground: oklch(0.2163 0.0025 145.4898);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2620 0.0283 140.7334);
  --primary: oklch(0.7854 0.1632 122.4360);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9229 0.0204 138.4376);
  --secondary-foreground: oklch(0.4284 0.0253 140.8234);
  --muted: oklch(0.9337 0.0231 137.2479);
  --muted-foreground: oklch(0.6039 0.0107 140.5040);
  --accent: oklch(0.9229 0.0204 138.4376);
  --accent-foreground: oklch(0.2620 0.0283 140.7334);
  --destructive: oklch(0.2163 0.0025 145.4898);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8828 0.0097 140.5143);
  --input: oklch(0.7575 0.0220 140.8834);
  --ring: oklch(0.7854 0.1632 122.4360);
  --success: oklch(0.7235 0.1500 142.5000);
  --success-foreground: oklch(1.0000 0 0);
  --chart-1: oklch(0.7045 0.1577 125.2363);
  --chart-2: oklch(0.7713 0.1707 334.6286);
  --chart-3: oklch(0.8786 0.0411 138.4636);
  --chart-4: oklch(0.8970 0.0424 335.7129);
  --chart-5: oklch(0.7159 0.1630 125.0942);
  --sidebar: oklch(0.9637 0.0112 141.2632);
  --sidebar-foreground: oklch(0.3561 0.0065 145.4370);
  --sidebar-primary: oklch(0.7854 0.1632 122.4360);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9229 0.0204 138.4376);
  --sidebar-accent-foreground: oklch(0.3250 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 1px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 1px 0px 0px hsl(0 0% 0% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2658 0.0047 145.4425);
  --foreground: oklch(0.8057 0.0211 138.4417);
  --card: oklch(0.2658 0.0047 145.4425);
  --card-foreground: oklch(0.9807 0.0078 139.4419);
  --popover: oklch(0.3064 0.0045 145.4644);
  --popover-foreground: oklch(0.9188 0.0051 145.5336);
  --primary: oklch(0.8364 0.1597 121.6140);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9807 0.0078 139.4419);
  --secondary-foreground: oklch(0.3064 0.0045 145.4644);
  --muted: oklch(0.2192 0.0049 145.4057);
  --muted-foreground: oklch(0.7660 0.0237 141.2158);
  --accent: oklch(0.2203 0.0113 139.4333);
  --accent-foreground: oklch(0.9637 0.0112 141.2632);
  --destructive: oklch(0.9237 0.1811 109.4770);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3561 0.0130 145.2959);
  --input: oklch(0.4297 0.0158 141.7383);
  --ring: oklch(0.8364 0.1597 121.6140);
  --success: oklch(0.7235 0.1500 142.5000);
  --success-foreground: oklch(1.0000 0 0);
  --chart-1: oklch(0.7045 0.1577 125.2363);
  --chart-2: oklch(0.7713 0.1707 334.6286);
  --chart-3: oklch(0.2203 0.0113 139.4333);
  --chart-4: oklch(0.3350 0.0580 331.8352);
  --chart-5: oklch(0.7159 0.1630 125.0942);
  --sidebar: oklch(0.2374 0.0040 128.6512);
  --sidebar-foreground: oklch(0.8057 0.0211 138.4417);
  --sidebar-primary: oklch(0.3250 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.2163 0.0025 145.4898);
  --sidebar-accent-foreground: oklch(0.8057 0.0211 138.4417);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 1px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 1px 0px 0px hsl(0 0% 0% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
